.book_title {
  text-transform: capitalize;
  border-bottom: 1px solid rgb(215, 180, 23);
  margin: 20px;
  text-align: left;
}

.booking-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 48%;
}

.booking-left_image {
  width: 100%;
}

#booking-left_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black with transparency */
  z-index: 1; /* Ensure it's above the image */

  p {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin-top: 25%;
    font-size: 35px;
  }

  .no-margin {
    margin-top: 0%;
  }

  .styled {
    color: rgb(215, 180, 23);
  }
}

.booking-form {
  background: #000000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-row {
  display: flex;
  gap: 10px;

  input,
  textarea {
    flex: 1;
    padding: 20px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    color: white;
    &::placeholder {
      color: white;
      opacity: 1;
    }
    resize: none;
    width: 98%;
  }
  input[type='date'] {
    color: white;
    background-color: transparent;
    position: relative;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
  }

  input:focus,
  textarea:focus {
    border-bottom: 1px solid rgb(221, 204, 22);
  }
}

.full-width {
  flex-direction: column;
  textarea {
    height: 100px;
  }
}

button {
  background-color: #262523;
  color: white;
  border: none;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  color: black;
  background-color: #c49b63;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
}
