@use '../../scss/position';

.text {
  width: 100%;
  @include position.center-flex(column);
  text-transform: uppercase;

  p {
    margin-top: 0;
    text-transform: lowercase;
    font-size: 1.2rem;
    opacity: 0.5;
  }
}

.review-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  padding: 20px;
  height: 350px;

  .review {
    background: #c49b63;
    padding: 20px;
    color: white;
    text-align: center;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    opacity: 1;
  }

  .overlay {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 90%;
  }
  .overlay::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: 0.1;
    z-index: -1;
  }

  .primary {
    height: 80%;
  }

  .secondary {
    background: #a67408;
    height: 100%;
  }
}
