h1#contact {
  text-transform: capitalize;
  border-bottom: 1px solid rgb(215, 180, 23);
  margin: 20px;
  text-align: right;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 300px;

  p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
  }
}
.left {
  width: 50%;
  height: 100%;
}
.right {
  width: 45%;
}
.right h2 {
  margin-top: 0;
}
.right p {
  margin: 5px 0;
}

#map-container {
  width: 100%;
  height: 100%;
}
