@use '../../scss/position';

footer {
  @include position.center-flex;
  padding: 10px;
  background-color: #000000;
  color: white;

  p {
    @include position.center-flex(column);
    text-align: center;
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}
